@import './mixins';
@import './var';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

.side-bar {
  width: 85vw;
  height: 100vh;
  position: fixed;
  background: black;
  z-index: 50;
  right: -100%;
  transition: 0.35s;
  display: none;
} 

.logo-container {
  img {
    width: 200px;
  }
}

.side-bar-content {
  padding: 50px;
}

.header-text {
  margin-bottom: 100px;
}

.side-bar-links {
  li {
    margin-top: 35px;
    a {
      font-size: 25px;
      font-weight: 400;
      color: white;
      text-transform: capitalize;
    }
  }
}

.side-bar-media {
  display: flex;
  padding: 30px 0px 0px 50px;
  border-top: 1px solid #202020;
  gap: 20px;
  img {
    width: 25px;
    height: 25px;
  }
}


.close-bar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 20px;
  top: 20px;
  img {
    width: 40px;
    height: 40px;
  }
}

.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

nav,
section {
  padding: 25px 50px 0px 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-links {
  gap: 41px;
}

.social-media {
  display: none;
}

.main-links,
.main-menu,
.social-menu {
  display: flex;
  align-items: center;
}

.menu-item a {
  font-size: 18px;
  color: white;
}

.main-menu,
.social-menu {
  gap: 20px;
}

header,
.bg-img {
  height: 70vh;
}

.header-content {
  @include flex-center;
  width: 100%;
  height: 70vh;
}

.header-text {
  @include flex-center;
  flex-direction: column;
  color: white;
  gap: 14px;
}

.header-subtitle {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.header-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.cta-button {
  border: solid 2px white;
  padding: 16px 29px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  div {
    width: 20px;
    height: 1.5px;
    background: white;
  }
}

.about-section {
  @include flex-center;
  align-items: center;
  padding: 118px 25px;
}

.intro {
  @include flex-center;
  flex-direction: column;
}

.intro,
.details {
  width: 50%;
}

.intro-container,
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.intro-text,
.intro-heading {
  color: black;
}

.intro-heading {
  font-size: 41px;
  font-weight: medium;
  line-height: 54px;
  width: 300px;
}

.intro-text {
  font-size: 22px;
}

.about-section .read-more-btn {
  margin-top: 15px;
}

.read-more-btn {
  @include read-btn-style();
}

.details-text {
  line-height: 29px;
}

.details p:nth-child(1) {
  font-size: 21px;
  line-height: 35px;
}

.details-container {
  max-width: 500px;
}

.stats {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 1.5px solid black;
  display: flex;
  gap: 94px;
  width: 100%;
  &-item {
    @include flex-center;
    flex-direction: column;
    gap: 9px;
  }
}

.stats-item {
  h3 {
    font-weight: 500;
    font-size: 48px;
  }
}

.posts-section .read-more-btn {
  padding-top: 90px;
}


.post-item {
  position: relative;
  max-width: 370px;
  img {
    width: 370px;
    height: 300px;
    object-fit: cover;
  }
}

.section-header {
  @include flex-center;
  padding-bottom: 100px;
}

.section-title {
  font-size: 41px;
}

.post-description {
  font-size: 17px;
  line-height: 25px;
  margin-top: 17px;
}

.post-date {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
  padding: 12px 15px;
}

.posts {
  @include flex-center;
}

.posts-list {
  display: flex;
  margin-top: 88px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.features-section .read-more-btn {
  @include read-btn-style(true);
  a {
    padding: 0;
  }
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.feature-item {
  max-width: 350px;
  display: flex;
  gap: 30px;
  img {
    width: 100px;
  }
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
  }

  p:nth-child(1) {
    font-size: 17px;
  }
}

.features-section {
  padding-top: 40px;
}

.services-overview {
  margin-top: 160px;
  background: black;
  padding: 100px 20px;
  color: white;
}

.services-intro-text {
  @include flex-center;
  flex-direction: column;
}

.services-details {
  @include flex-center;
  gap: 5vw;
  align-items: flex-end;
  padding-top: 90px;
  padding-bottom: 90px;
}

.services-description p {
  font-size: 14px;
  line-height: 29px;
  max-width: 500px;
}

.services-details-list,
.services-description {
  width: 100%;
}

.services-details-list {
  display: flex;
  justify-content: flex-end;
}

.services-list {
  border-top: solid 1px white;
  display: grid;
  width: 100%;
  max-width: 500px;
  padding-top: 50px;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}

.services-list-item {
  @include flex-center;
  justify-content: flex-start;
  gap: 10px;
}

.services-intro-text {
  h2 {
    font-size: 34px;
    max-width: 620px;
    text-align: center;
    line-height: 44px;
  }

  small {
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: lowercase;
  }
}

.services-list-section {
  padding-top: 100px;
}

.services-posts {
  li img:nth-child(1) {
    height: 500px;
    object-fit: cover
  }
}

.services-list-container {
  @include flex-center;
}

.services-post {
  position: relative;
  width: 305px;
  height: 400px;
  cursor: pointer;


  img {
    width: 305px;
    height: 400px;
    transition: .3s;
    z-index: -1;
    position: absolute;
    filter: brightness(.9);
  }

  &:hover {
    img {
      filter: brightness(.7);
    }
  }
}

.services-post-text {
  height: 100%;
  padding: 35px;
  display: flex;
  align-items: flex-end;
  p {
    background: black;
    color: #fff;
    padding: 4px;
    font-size: 20px;
  }
}

.services-list-section .read-more-btn {
  margin-top: 70px;
}

footer {
  margin-top: 200px;
  background: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

footer .social-menu:nth-child(2) {
  display: none;
}

footer nav {
  padding: 0;
}

.sub_footer {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  padding-top: 27px;
  border-top: 1px solid #202020;
  p:nth-child(1) {
    font-size: 14px;
    opacity: 0.4;
  }
}

.footer_social {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  p {
    line-height: 30px;
    font-size: 14px;
    max-width: 300px;
  }
}

.footer-contacts {
  display: flex;
  gap: 60px;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  img {
    width: 25px;
  }
}

.footer-contacts-email {
 gap: 15px !important;
 p {
  margin-top: -2px;
}
}

.footer-s-nav {
  display: none;
}

.projects-container {
  @include flex-center;
  padding-top: 40px;
}

.projects {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.projects-main {
  margin-top: 78px;
  padding: 0px 90px;
}

.tabs-container {
  border-top: 1.5px solid rgba(0,0,0,0.1);
  padding: 66px 0px;
}

.tabs-container, .tabs, .project-info-text {
  @include flex-center;
}

.read-more-text {
  font-size: 16px;
}

.project-item {
  max-width: 500px;
  img {
    max-width: 500px;
    min-height: 300px;
  }
}

.project-item:hover {
  cursor: pointer;
  .project-info {
    background: #202020;
  }

  .project-info-text {
    h3 {
      color: white
    }
    
    p {
      color: white
    }
  }
}

.project-info {
    @include flex-center;
    transition: all .3s;
    background: #f5f5f5;
}

.project-info-text {
  flex-direction: column;
  padding: 20px;
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
  }
  p {
    margin-top: 15px;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 4px;
    font-size: 12px;
  }
}

.tabs {
  gap: 40px;
}

.tab {
  font-weight: 500;
  font-size: 18px;
}

.service-item {
  max-width: 370px;
  position: relative;
  img {
    max-width: 370px;
    filter: brightness(.75);
  }

  .read-more-link {
    margin-top: 20px;
    img {
      transition: .3s;
    }
   }

  a:hover {
    .read-more-link {
      img {
        transform: translateX(5px);
       }
    }
  }
}

.service-info h3 {
  font-weight: 600;
  font-size: 30px;
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

  p:nth-child(1) {
    font-size: 17px;
  }

  div {
    @include read-btn-style(true);
  }
}

.read-more-link {
  @include flex-center;
  gap: 10px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.pagination {
  @include flex-center;
  padding-top: 8px;
  h3,a {
    color: white;
    font-size: 23px;
  }

  a {
    font-weight: bold;
  }

  h3 {
    margin-left: 5px;
    font-weight: 200;
  }
}

.service-item-info {
  @include flex-center;
}

.file {
  width: 100%;
  a {
    display: block;
    max-width: max-content;
  }
}

.file-info {
  display: flex;
  gap: 15px;
  align-items: center;
  background: #202020;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  max-width: 350px;
  small {
    display: block;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
    padding-top: 6px;
  }
  p {
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
  }
}

.btn-icon {
  img {
    width: 40px;
    height: 40px;
  }
}

.service-content {
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  max-width: 1000px;
  line-height: 37px;
  ul {
   padding: 10px 0px 10px 40px;
  }
  li {
    list-style-image: url('../img/black-tick.svg');
  }
}

.dark-nav {
  a {
    color: black !important;
  } 

  svg path {
    fill: black;
  }

  .burger {
    div {
      background: black;
    }
  }
}

.contact-section {
  @include flex-center;
  align-items: flex-start;

  h1 {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 42px;
  }
}

.input-group {
  display: flex;
  gap: 13px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;

  textarea {
    width: 100%;
    resize: none;
    min-height: 180px;
  }

  textarea, input {
    background: #F9F9F9;
    border: 2px solid #F0F0F0;
    outline: none;
    padding: 10px;
    border-radius: 3px;
  }

  input[type=submit]{
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
    padding: 16px 58px;
  }
}

.contacts-main {
  padding-top: 100px;
  min-height: 70vh;
  @include flex-center;
}

.contact-section {
  @include flex-center;
  align-items: flex-start;
  gap: 10vw;
  width: 100%;
  height: 100%;
}

.contact-form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 130px;
  border-right: #202020 1px solid;
}

.contact-info-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info-item {
  max-width: 370px;
  h3 {
    font-weight: bold;
  }
  p {
  margin-top: 10px;
    line-height: 30px;
  }
}

.conctacts-social {
  margin-top: 45px;
  margin-left: -5px;
  svg {
    width: 25px;
    height: 25px;
  }
}

.content {
  img {
    margin-top: 30px;
    width: 100%;
    max-height: 700px;
    object-fit: cover;
  }
  h4 {
    font-weight: bold;
  }
  p,h4 {
    margin-top: 0px;
  }
}

.contacts-header {
  .menu-item a {
    color: black;
  }
}

@media screen and (max-width: 1450px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .features-list {
    gap: 40px;
  }

  .services {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1250px)  {
  .feature-item,
  .feature-content,
  .features-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form-wrapper {
   padding-right: 100px;
  }

  .features-list {
    gap: 40px;
  }

  .contact-section {
   gap: 6vw;
  }
}


@media screen and (max-width: 1100px) {
  .feature-title {
    text-align: center;
  }
  .features-section {
    padding-top: 90px;
  }

  .features-list {
    gap: 70px;
  }

  .feature-content p {
    text-align: center;
  }

  .services-details {
    flex-direction: column-reverse;
  }

  .services-description {
    display: flex;
  }

  .services-description,
  .services-details-list {
    align-items: center;
    justify-content: center;
  }
  .services-description-text {
    text-align: center;
  }

  .contact-section {
    flex-direction: column-reverse;
    align-items: center; 
  }

  .contact-form-wrapper {
    border: none;
    padding-right: 0;
  }

  .contact-info-wrapper, .contact-form-wrapper, .contact-form-container {
    width: 100%;
    max-width: 570px;
  }

  .contacts-main {
    padding: 100px 30px 30px 30px;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
  }

  .contact-section h1 {
    font-size: 31px;
  }

  .contact-section {
    gap: 10vw;
  }

}

@media screen and (max-width: 950px) {
  .footer-head-links {
    display: none;
  }

  .services {
    grid-template-columns: 1fr
  }

  .footer_social p {
    max-width: 100%;
  }

  footer .social-menu:nth-child(2) {
    display: flex;
  }

  .footer_social {
    flex-direction: column;
    gap: 20px;
  }

  .sub_footer {
    flex-direction: column-reverse;
    padding-top: 0px;
    border: none;
    p:nth-child(1) {
      display: none;
    }
  }

  .footer-phones {
    flex-direction: column;
    gap: 20px;
  }

  .footer-s-nav {
    display: flex;
    padding-top: 25px;
    border-top: 1px solid #202020;
    margin-top: 25px;
    // justify-content: flex-end;
    a {
      font-size: 15px;
    }
  }

  .footer-contacts {
    gap: 20px;
  }

  footer {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 25px;
  }

  .intro {
    align-items: flex-start;
  }

  .intro,
  .details {
    width: 80%;
  }

  .details {
    margin-top: 50px;
  }

  .project-item {
    img {
      width: 90vw;
      object-fit: cover;
    }
  }

  .tabs-container {
    padding: 40px 0px;
  }

  .projects-main {
    margin-top: 40px;
    padding: 0px 40px;
  }

  .main-links {
    display: none;
  }

  .burger {
    @include flex-center;
  }

  .side-bar {
    display: block;
  }


}



@media screen and (max-width: 550px) {

  .logo-container {
    img {
      width: 80px;
    }
  }

  .footer-contacts {
    flex-direction: column-reverse;
  }

  footer {
    // background: red !important;
    padding-left: 25px;
    padding-right: 25px;
  }

  .services-posts {
    li img:nth-child(1) {
      height: 400px;
      object-fit: cover
    }
  }
  
  
  // .other-header-text {
  //   margin-bottom: 5vh !important;
  // }

  .footer-s-nav a {
    font-size: 14px;
  }

  .file-info {
    max-width: 100%;
    p {
      max-width: 70vw;
    }
  }

  .header-title {
    font-size: 8vw;
  }

  .contact-section h1 {
    font-size: 28px;
  }

  .contact-section {
    gap: 15vw;
  }

  .pagination {
    a, h3 {
      font-size: 17px;
    }
  }
  
  .contacts-main {
    padding: 60px 30px 30px 30px;
  }

  .header-subtitle {
    font-size: 3.5vw;
  }


  .footer-s-nav {
    justify-content: flex-start;
  }


  .intro,
  .details {
    width: 100%;
  }

  .stats {
    gap: 13vw;
  }
  .about-section {
    padding: 70px 25px;
  }

  .post-item {
    position: relative;
    max-width: 350px;
    img {
      width: 350px;
      height: 300px;
      object-fit: cover;
    }
  }

  .services-description-text,
  .services-intro-text h2 {
    text-align: left;
  }

  .services-details {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .services-list {
    justify-items: flex-start;
  }

  .services-intro-text {
    align-items: flex-start;
  }

  .services-list-description {
    font-size: 14px;
  }

  .services-intro-text h2 {
    font-size: 32px;
  }

  .services-overview {
    padding: 70px 30px;
  }

  .services-details {
    gap: 30px;
  }

  .post-item img {
    width: 340px;
  }

  .tab {
    font-size: 15px;
  }

  .tabs {
    gap: 25px;
  }

  .projects-main {
    margin-top: 40px;
    padding: 0px 20px;
  }

  .tabs-container {
    padding: 25px 0px;
  }

  .service-item {
    width: 90vw;
    img:nth-child(1) {
      width: 90vw;
    }
  }
}
